{{> ./template-parts/header}}

{{> ./template-parts/navigation}}

<div class="container">

    <h1 class="mt-4">Task list</h1>
    {{> ./template-parts/task-list}}
    
</div>

{{> ./template-parts/footer}}
