{{#task._id}}
<div class="modal fade" id="shareTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/dashboard/tasks/share/{{task._id}}" method="POST">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Share task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form">
                        <label for="memberEmail">Select users to share</label>
                        <select id="memberEmail" class="custom-select" name="memberEmail" required>
                            {{#shareUsers}}
                            <option value="{{email}}">{{email}}</option>
                            {{/shareUsers}}
                        </select>
                    </div>
                </div>

                <div class="p-3 d-flex justify-content-end">
                    <button class="btn btn-success">Share</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/task._id}}