<div class="task-list">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Created date</th>
                <th scope="col">Owner</th>
            </tr>
        </thead>
        <tbody>
            {{#tasks}}
                <tr class="table-light">
                    <th scope="row">{{title}}</th>
                    <td>{{status}}</td>
                    <td>{{createdAt}}</td>
                    <td>{{owner}}</td>
                </tr>
            {{/tasks}}
        </tbody>
    </table>
</div>